<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">

    <link href="../static/23819593b2955b046295.css" rel="stylesheet"></head>
    <body>
        <div id="content"></div>
    <script type="text/javascript" src="../static/23819593b2955b046295.js"></script></body>
</html>